<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM PAGE....</title>
</head>

<body style="background-color: rgba(0, 0, 0, 0.381);">
    <center>
        <tr style="background-color: darkslategrey; ">
            <td></td>
            <td ><input type="submit" value="ADD TASK" style="background-color:lightsteelblue; color: black; font-size: 20px; margin: 20px;"></td>
        </tr>
        <table style="font-size:35px; padding:40px; margin: 20px;">
            <tr style="color:coral; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                <td style="text-align: center; padding: 20px;">#</td>
                <td>TASK NAME</td>
                <td>STATUS</td>
                <td>EDIT</td>
                <td>REMOVE</td>
            </tr>
            <% record.map((val)=>{ %>
                <tr>
                    <td>
                        <%= val.hashtag %>
                    </td>
                    <td>
                        <%= val.taskname %>
                    </td>
                    <td>
                        <%= val.status %>
                    </td>
                    <td>
                        <%= val.edit %>
                            <button style="background-color: cornflowerblue; font-size: 20px; color: aliceblue;">
                                <a style="color: rgb(249, 249, 249);" href="/editdata?id=<%=val.hashtag %>">EDIT</a>
                            </button>
                    </td>
                    <td>
                        <%= val.remove %>
                            <button style="background-color: rgb(252, 86, 119); font-size: 20px;">
                                <a style="color: aliceblue;" href="/deletedata?id=<%=val.hashtag %>">delete</a>
                            </button>
                    </td>

                </tr>
                <% }) %>
        </table>
    </center>
</body>

</html>